## -*- coding: utf-8 -*-
<%include file="header.html"/>

<div class="solarsystem_info_wrapper">

  <blockquote>

    <center>
      <h2>500 Internal server error</h2>
      <br />

      <div id="warningmessage" class="igb_warning">
      <blockquote>
        ${tr.gettext('Oops! Something broke, send message ingame to <b>Lexx Min</b>, or file a bug on')}
        <a href="https://github.com/minlexx/whdbx_web/issues/new">${tr.gettext('github issues')}</a>!
        <br />
        ${tr.gettext('Attach the following technical information:')}
      </blockquote>
    </div>

    </center>

    <pre>${stacktrace}</pre>

    <center>
      <hr />
      <img width="600" src="/static/img/500/eve500error.png" />
    </center>

  </blockquote>

</div>
<!-- /solarsystem_info_wrapper -->

<%include file="footer.html"/>
