## -*- coding: utf-8 -*-
<%
from classes.utils import js_escape, length_limit_20
%>

<div class="character_info">

% if HAVE_SSO_LOGIN:

  <div class="character_info_inline">
    <img src="/static/img/offline.png" width="20" id="character_info_online_img"
         onmouseover="Tip('Offline');" onmouseout="UnTip();" />
  </div>

  <div class="character_info_inline">
    <a href="#" onclick="showCharInfo(${SSO_CHAR_ID}); return false;"
       title="Show info: ${SSO_CHAR_NAME|h}">
       <img src="https://image.eveonline.com/Character/${SSO_CHAR_ID}_32.jpg"
            border="0" width="32"
            onmouseover="Tip('<img src=&quot;https://image.eveonline.com/Character/${SSO_CHAR_ID}_128.jpg&quot;>');"
            onmouseout="UnTip();"/></a>
  </div>

  <div class="character_info_inline" style="max-width: 100px;">
    <a href="#" onclick="showCharInfo(${SSO_CHAR_ID}); return false;"
       title="Show info: ${SSO_CHAR_NAME}">${SSO_CHAR_NAME}</a>
    <br />
    [ <a href="/logout">${tr.gettext('Logout')}</a> ]
  </div>

  <div class="character_info_inline" id="character_info_corp_block">
  % if (SSO_CORP_ID != '') and (SSO_CORP_NAME != ''):
    <a href="#" onclick="showCorpInfo(${SSO_CORP_ID}); return false;"
       title="Show info: ${SSO_CORP_NAME|h}'"
       onmouseover="Tip('${SSO_CORP_NAME|js_escape}');"
       onmouseout="UnTip();">
      <img src="https://imageserver.eveonline.com/Corporation/${SSO_CORP_ID}_32.png" />
    </a>
  % endif
  </div>

  <div class="character_info_inline" style="max-width: 100px;" id="character_info_corp_name_block">
  % if (SSO_CORP_ID != '') and (SSO_CORP_NAME != ''):
    <a href="#" onclick="showCorpInfo(${SSO_CORP_ID}); return false;"
       title="Show info: ${SSO_CORP_NAME|h}'"
       onmouseover="Tip('${SSO_CORP_NAME|js_escape}');"
       onmouseout="UnTip();">
      ${SSO_CORP_NAME|h}
    </a>
  % endif
  </div>

  <div class="character_info_inline" id="character_info_ship_block">
  % if (SSO_SHIP_ID != '') and (SSO_SHIP_NAME != ''):
    <a href="#" onclick="showTypeInfo(${SSO_SHIP_ID}); return false;"
       title="Show info: ${SSO_SHIP_NAME|h}'"
       onmouseover="Tip('${SSO_SHIP_NAME|js_escape}');"
       onmouseout="UnTip();">
      <img src="https://imageserver.eveonline.com/Type/${SSO_SHIP_ID}_32.png" />
    </a>
  % endif
  </div>

  <div class="character_info_inline" style="max-width: 100px;" id="character_info_ship_name_block">
  % if (SSO_SHIP_ID != '') and (SSO_SHIP_NAME != ''):
    <a href="#" onclick="showTypeInfo(${SSO_SHIP_ID}); return false;"
       title="Show info: ${SSO_SHIP_NAME|h}'"
       onmouseover="Tip('${SSO_SHIP_NAME|js_escape}');"
       onmouseout="UnTip();">
      ${SSO_SHIP_TITLE|h}
    </a>
  % endif
  </div>

  <div class="character_info_inline" id="character_info_location_block">
    <img src="/static/img/location_64.gif" width="32" id="character_info_ss_img" />
  </div>

  <div class="character_info_inline" style="max-width: 100px;" id="character_info_location_name_block">
    Loading...
  </div>

  <div class="character_info_inline">
    <%include file="fast_search_block_v2.html"/>
  </div>

  ## <!-- TODO: short_history_block not done yet -->
  ##<div class="character_info_inline">
  ##  <%include file="short_history_block.html"/>
  ##</div>

% else:

  <div style="display: inline">
    <a href="${SSO_LOGIN_URL}">
      <img border="0" src="/static/img/EVE_SSO_Login_Buttons_Small_Black.png" /></a>
  </div>
  <div id="sso_help_button" style="display: inline; padding-left: 10px;">
    <a href="/eve_sso_help/">${tr.gettext('Why?')}</a>
  </div>
  <%include file="fast_search_block_v2.html"/>

% endif

  <%include file="language_selector.html"/>

</div><!-- /charactrer_info -->