## -*- coding: utf-8 -*-

% if HAVE_SSO_LOGIN == 'true':

<div class="character_info">

    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td class="character_info">
                <a href="#" onclick="javascript:CCPEVE.showInfo(1377, ${char['id']}); return false;"
                   title="${char['name']}">
                   <img src="https://image.eveonline.com/Character/${char['id']}_64.jpg" /></a>
                <br />
                <a href="#" onclick="javascript:CCPEVE.showInfo(1377, ${char['id']}); return false;"
                   title="${char['name']}">${char['name']}</a>
            </td>
            <td class="character_info">
                <a href="#" onclick="javascript:CCPEVE.showInfo(2, ${corp['id']}); return false;"
                   title="${corp['name']}">
                   <img src="https://image.eveonline.com/Corporation/${corp['id']}_64.png" /></a>
                <br />
                <a href="#" onclick="javascript:CCPEVE.showInfo(2, ${corp['id']}); return false;"
                   title="${corp['name']}">${corp['name']}</a>
            </td>
            <td class="character_info">
                <a href="#" onclick="javascript:CCPEVE.showInfo(${ship['id']}); return false;"
                   title="${ship['name']}">
                   <img src="img/Types/${ship['id']}_64.png" />
                </a><br />
                <a href="#" onclick="javascript:CCPEVE.showInfo(${ship['id']}); return false;">${ship['name']}</a>
            </td>
            <td class="character_info">
                <a href="#" onclick="javascript:CCPEVE.showInfo(5, ${ssys['id']}); return false;"
                   title="${ssys['name']}">
                   <img src="img/solarsystem_icon_64.png" />
                </a><br />
                <a href="#" onclick="javascript:CCPEVE.showInfo(5, ${ssys['id']}); return false;">${ssys['name']}</a>
            </td>
            <!-- fast search block -->
            <td class="character_info">
            <%include file="fast_search_block.html"/>
            </td>
            <!-- short visits history block -->
            <td class="character_info">
            <%include file="short_history_block.html"/>
            </td>
        </tr>
    </table>

  <!-- TODO: guide user how to remove authorization (logout) -->

</div>

% else:

<div class="character_info">

  <div style="display: inline">
    <a href="${SSO_LOGIN_URL}">
      <!-- <img border="0" src="static/img/EVE_SSO_Login_Buttons_Large_Black.png" /> -->
      <img border="0" src="static/img/EVE_SSO_Login_Buttons_Small_Black.png" />
    </a>
  </div>

  <div id="sso_help_button" style="display: inline">
    [
    <a href="#" onclick="showhide('sso_help', 'inline-block'); return true;">
      Зачем?
    </a>
    ]
  </div>

  <div id="sso_help" style="display: none; font-size: 13px; color: #AAAAAA;">
    После авторизации персонажа мы сможем автоматически определять
    ваше местоположение, и не придется вручную вбивать номер системы.
  </div>

</div>

% endif