## -*- coding: utf-8 -*-
<div class="corp_pos_info_wrapper">
    <h1>Члены корпорации</h1>

    <table class="corp_pos_table">
        <tr>
            <th>Персонаж</th>
            <th>Локация</th>
            <th>Корабль</th>
            <th>Последние действия</th>
            <!--<th>Rols</th>-->
        </tr>
% for mm in members:
        <tr>
            <td>
                <a href="#" onclick="javascript:CCPEVE.showInfo(1377, ${mm['id']}); return false;"
                   title="${mm['name']}">
                   <img src="https://image.eveonline.com/Character/${mm['id']}_32.jpg" /></a>
                <a href="#" onclick="javascript:CCPEVE.showInfo(1377, ${mm['id']}); return false;"
                   title="${mm['name']}">${mm['name']}</a>
                % if mm['online']:
                 (<span class="corp_pos_positive">Online</span>)
                % endif
            </td>
            <td>
                ${mm['location']['name']}
            </td>
            <td>
                % if mm['ship_type']['id']:
                <img src="img/Types/${mm['ship_type']['id']}_32.png" />
                ${mm['ship_type']['name']}
                % else:
                в доке
                % endif
            </td>
            <td>
                <pre>Онлайн:  ${mm['last_online_str']}
Оффлайн: ${mm['last_offline_str']}</pre>
            </td>
        </tr>
% endfor
    </table>

    <br />
    <br />
    Данные в этой таблице могут существенно отставать от действительности! (на 6 часов)

    <br />
</div>

##<br />
##<div class="dev_data_dump"><pre>${members_dbg | h}</pre></div>
