## -*- coding: utf-8 -*-
<div class="corp_pos_info_wrapper">
    <h1>POS monitor</h1>

    <table class="corp_pos_table">
        <tr>
            <th>ПОС</th>
            <th>Луна</th>
            <th>Состояние</th>
            <th>Топливо</th>
            <th>Доступ под поле</th>
            <th>Всего онлайн</th>
        </tr>
% for pos_id in starbases_info:
        <tr>
            <td>
                <a href="javascript:CCPEVE.showInfo(${starbases_info[pos_id]['type_id']}); return false;">
                    <img src="img/Types/${starbases_info[pos_id]['type_id']}_32.png" width="32" />
                    ${starbases_info[pos_id]['type_name']}
                </a>
            </td>
            <td>
                ${starbases_info[pos_id]['moon_name']}
            </td>
            <td>
                % if starbases_info[pos_id]['state'] == 'online':
                <span class="corp_pos_positive">Online</span>
                % else:
                <span class="corp_pos_negative">${starbases_info[pos_id]['state']}</span>
                % endif
            </td>
            <td>
                % for fuel_id in starbases_info[pos_id]['details']['fuel']:
                <a href="javascript:CCPEVE.showInfo(${fuel_id}); return false;">
                    <img src="img/Types/${fuel_id}_32.png" width="16" />
                </a>
                ${starbases_info[pos_id]['details']['fuel'][fuel_id]['name']}:
                <span class="corp_pos_hl">${starbases_info[pos_id]['details']['fuel'][fuel_id]['cnt']}</span>
                <br />
                % endfor
                Осталось дней: <span class="corp_pos_hl">${starbases_info[pos_id]['fuel_days_left']}</span><br />
            </td>
            <td>
                % for entity in starbases_info[pos_id]['details']['permissions']['forcefield']:
                ${entity}:
                    % if starbases_info[pos_id]['details']['permissions']['forcefield'][entity]:
                    <span class="corp_pos_positive">Да</span>
                    % else:
                    <span class="corp_pos_negative">Нет</span>
                    % endif
                <br />
                % endfor
            </td>
            <td>
                ${starbases_info[pos_id]['online_days']} дн.
            </td>
        </tr>
% endfor
    </table>

    <br />
    <br />
    Информация о звёздных базах в API CCP обновляется примерно раз в 6 часов!
</div>

##<br />
##<div class="dev_data_dump">starbases: <pre>${sb_info_dbg | h}</pre></div>
