## -*- coding: utf-8 -*-

<!-- CORP MENU BLOCK -->

<div class="corp_menu_block">
    <!-- <span class="infoblock_header_text">Личный кабинет:</span> -->
    <ul>
        <!--<li><a href="./?mode=lk${URL_APPEND_EMULATE}">Мой API</a></li>-->
        <li><a href="./?mode=fits${URL_APPEND_EMULATE}">Фиты</a></li>
        <li><a href="./?mode=kb${URL_APPEND_EMULATE}">Убейдоска</a></li>
        <li><a href="./?mode=members${URL_APPEND_EMULATE}">Члены корпорации</a></li>
        <li><a href="./?mode=pos${URL_APPEND_EMULATE}">POS монитор</a></li>
    </ul>
</div>

<!-- CORP MENU BLOCK END -->