## -*- coding: utf-8 -*-

<!-- FAST SEARCH BLOCK -->

<div class="fast_search_block">
    <span class="infoblock_header_text">Быстрый поиск:</span>
    <table border="0" width="300">
        <tr>
            <td width="100">Дырка:</td>
            <td width="120">
                <input type="text" name="hole" id="hole" maxlength="15" size="4" onkeyup="fast_search_hole();" />
                <img src="img/arrow_shaded_purple_right_32.png" />
            </td>
            <td width="150">
                <div class="fast_search_result" id="fast_search_result"></div>
            </td>
        </tr>
        <tr>
            <td>J-Система:</td>
            <td>
                J<input type="text" name="ssys" id="ssys" maxlength="15" size="9" onkeyup="fast_search_system();" />
            </td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </td>
        </tr>
    </table>
</div>

<!-- FAST SEARCH BLOCK END -->