## -*- coding: utf-8 -*-

<!-- FAST SEARCH BLOCK V2 -->
<div class="fast_search_block_v2">
  <img src="/static/img/search_white_32.png" /> ${tr.gettext('Wormhole')}:&nbsp;
  <input type="text" name="hole" id="hole" maxlength="15" size="4" onkeyup="fast_search_hole();" />
  <img src="/static/img/arrow_shaded_purple_right_32.png" />
  <div class="fast_search_result_v2" id="fast_search_result"></div>

  <img src="/static/img/search_white_32.png" />
  J-${tr.gettext('System')}:&nbsp;
  <b>J</b> <input type="text" name="ssys" id="ssys" maxlength="15" size="9" onkeyup="fast_search_system();" />
</div>

<!-- FAST SEARCH BLOCK END -->