## -*- coding: utf-8 -*-
<div class="solarsystem_info_wrapper"><center>
    <h1>PvP Фиты / Доктрины</h1>
    <p>(ссылки кликабельны в ингейм браузере!)</p>

    <table border="0" width="100%">
        <tr>
            <td valign="top">
                <center>
                <h2>Gurista + Mordu, шилд нано гей</h2>
                <table border="0" cellpadding="5">
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(17715); return false;" title="Gila">
                                <img src="img/Types/17715_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('17715:19345;1:13003;1:31718;1:14246;1:8529;1:24395;1:32780;1:2605;2:31185;2:4405;2:8089;4:5439;1:21640;2:2185;2:21638;2:2175;2:27371;1660:28668;227:32006;27:11287;7::');">Gila XLASB nano</a><br />
                            <a href="javascript:CCPEVE.showFitting('17715:31718;1:14246;1:8529;1:32780;1:2605;2:15887;1:3568;1:31185;1:4405;2:5975;1:8089;4:32063;1:21640;2:2185;2:23707;4:21638;2:2175;2:27371;1660:28668;100:30013;8:32006;32::');">Gila XLASB nano +CB</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(33818); return false;" title="Orthrus">
                                <img src="img/Types/33818_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('33818:448;1:3244;1:4395;1:31724;1:2605;1:32780;1:5839;1:8529;1:22291;2:31796;1:1877;5:19315;1:24497;100:32006;9::');">Orthrus Rapid XLASB min</a> /
                            <a href="javascript:CCPEVE.showFitting('33818:2048;1:19105;1:32780;1:4395;1:31724;1:2605;1:15891;1:8529;1:14258;1:22291;2:31796;1:1877;5:19315;1:24497;100:32006;9::');">MAX </a><br />
                            <a href="javascript:CCPEVE.showFitting('33818:15891;1:3841;2:19339;1:2605;1:19215;1:31760;1:22291;3:1877;5:31606;1:31646;1:23707;5:27361;2000:27371;2000:24497;2000:27381;2500:27387;2600:28668;50:2613;2000::');">Orthrus Rapid Anti-ceptor passive</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11993); return false;" title="Cerberus">
                                <img src="img/Types/11993_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11993:2410;6:5975;1:3244;1:2281;1:8529;1:4391;1:2605;1:35771;1:22291;2:31724;1:31730;1:2488;3:27441;2500:24513;1000:2629;1000:31990;50::');">Cerberus HML LASB nano</a><br />
                            <a href="javascript:CCPEVE.showFitting('11993:2048;1:3841;1:4391;1:3244;1:527;1:31185;1:22291;3:1877;6:5975;1:31640;1:2488;3:27361;2120:27371;2000:24495;1500:27381;2000:31990;54:27387;2000:24501;1500::');">Cerberus Rapid LASB</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11999); return false;" title="Vagabond">
                                <img src="img/Types/11999_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11999:2048;1:31748;1:519;2:4391;2:3244;1:2605;1:1999;1:2897;5:5975;1:31736;1:19101;1:2488;5:21922;3000:12773;3000:21896;3800:12777;3000:31990;58:28668;100::');">Vagabond 220mm 2xLASB</a><br />
                            <a href="javascript:CCPEVE.showFitting('11999:31366;2:519;2:20567;2:32780;2:5839;1:5139;1:5975;1:2937;5:15887;1:2205;5:21896;3000:12777;1500:12773;1500:32006;48::');">Vagabond 180mm 2xXLASB</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(17720); return false;" title="Cynabal">
                                <img src="img/Types/17720_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('17720:2048;1:3841;2:519;2:17559;1:2605;1:31790;3:1999;1:15891;1:16469;1:5975;1:2913;4:2488;5:23707;5:21922;2000:12773;2000:21896;2000:12777;2480:21904;2000:28668;100::');">Cynabal Standard</a><br />
                            <a href="javascript:CCPEVE.showFitting('17720:3841;2:519;3:3244;1:31179;1:31724;1:2605;1:1999;1:16471;1:31796;1:5975;1:12058;1:2913;4:23707;5:2205;5:21896;2500:12777;2980:21922;2500:28668;50:12773;2500::');">Cynabal 2prop</a><br />
                            <a href="javascript:CCPEVE.showFitting('17720:4833;1:19203;1:31366;1:519;3:2281;1:31724;1:2605;1:5839;1:31760;1:2897;4:15757;1:15887;1:23707;5:2205;5:21922;3140:12773;2500:21896;2500:12777;2500:32014;11:28668;50::');">Cynabal 100AB</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(29336); return false;" title="Scythe Fleet issue">
                                <img src="img/Types/29336_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('29336:31360;1:3841;2:12267;1:31718;1:519;3:1355;1:2605;1:31790;1:527;1:448;1:5975;1:2913;4:2205;5:21896;2980:12777;1500:21922;2500:28668;50:12773;2000::');">Scythe Fleet 425mm</a><br />
                            <a href="javascript:CCPEVE.showFitting('29336:2048;1:3841;2:31718;1:16471;1:3244;1:2605;1:31790;2:22291;3:1877;4:5975;1:4027;1:2488;5:27387;1500:28668;550:27381;1580::');">Scythe Fleet Rapid</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(29340); return false;" title="Osprey Navy issue">
                                <img src="img/Types/29340_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('29340:2048;1:4391;2:2281;1:31754;1:5399;1:31724;1:2605;1:31790;1:22291;2:5975;1:2553;1:8027;4:21640;1:27361;2576:27387;1500:27381;1500:31990;68:27371;1000::');">Osprey Navy Rapid 2xLASB</a><br />
                            <a href="javascript:CCPEVE.showFitting('29340:31360;1:2048;1:3841;2:3244;1:16471;1:31724;1:31790;1:527;1:3568;1:22291;3:1877;4:5975;1:2488;2:27361;2580:28668;50:2613;1000:32006;31:24497;1000::');">Osprey Navy Rapid Passive</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11971); return false;" title="Lachesis">
                                <img src="img/Types/11971_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11971:2048;1:3841;3:2281;1:13003;2:31724;1:2605;3:15887;1:15891;1:31796;1:28756;1:4475;1:18684;1:2488;5:23707;5:30488;16:30486;24::');">Lachesis 100AB nano</a><br />
                            <a href="javascript:CCPEVE.showFitting('11971:2048;1:3841;3:1541;3:31179;2:18639;1:15891;1:5302;2:5975;1:2488;5:23707;5:30488;8:28668;82:30013;80:29015;4::');">Lachesis MWD + damp</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11961); return false;" title="Huginn">
                                <img src="img/Types/11961_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11961:2048;1:3841;2:1987;1:2404;1:1541;1:2913;4:2281;1:2605;1:31790;2:527;2:5975;1:23705;4:21896;1480:12777;1000:27387;553:28668;100:12773;1000::');">Huginn only webs</a><br />
                            <a href="javascript:CCPEVE.showFitting('11961:2048;1:3841;1:1987;1:519;2:2281;1:2410;1:3244;1:527;2:31796;2:5975;1:2913;4:2456;2:2185;3:21922;2000:12773;2480:21896;2480:207;40:21904;2000:27447;540:28668;200:27453;500::');">Huginn DPS</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(20125); return false;" title="Curse">
                                <img src="img/Types/20125_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('20125:3841;2:13003;2:4833;1:12267;1:3244;1:2605;2:31760;1:31796;1:4405;2:5975;1:14164;1:2301;1:16511;1:2488;5:2185;5:23707;5:2175;5:32014;14:263;32::');">Curse Shield med MK2</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(17922); return false;" title="Ashimmu">
                                <img src="img/Types/17922_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('17922:2048;1:3841;1:1541;3:3009;3:3244;1:31179;1:31724;1:31185;1:5975;1:16471;1:2364;2:17559;1:19109;1:2488;5:23707;3:23089;3:23093;3:12822;3:23097;3:12826;3:28668;100::');">Ashimmu Shield MK2</a><br />
                            <a href="javascript:CCPEVE.showFitting('17922:2048;1:3841;1:19107;1:1541;2:16471;1:3244;1:2605;1:31790;3:3025;3:5975;1:2364;2:14270;1:23707;3:2205;5:23089;6:23093;3:12822;3:23097;3:12826;3:28668;50::');">Ashimmu Shield by Lussy Lou</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11985); return false;" title="Basilisk">
                                <img src="img/Types/11985_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11985:8641;4:16487;2:2281;2:2301;1:3841;1:5975;1:8263;1:2048;1:31724;1:31360;1::');">Basilisk 4-2 FAT</a><br />
                            <a href="javascript:CCPEVE.showFitting('11985:16487;2:3608;4:3841;1:20230;1:2281;1:5975;1:2301;1:8263;2:31360;1:31790;1:23707;5:28668;100::');">Basilisk 4-2 ECCM</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11978); return false;" title="Scimitar">
                                <img src="img/Types/11978_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11978:19147;4:5975;1:2281;2:3841;2:1447;3:2048;1:31378;2:23717;4:23719;1:28668;50::');">Scimitar med MWD</a><br />
                            <a href="javascript:CCPEVE.showFitting('11978:19147;4:5955;1:2281;1:2032;1:8529;2:2048;1:1447;2:1355;1:31366;2:2488;4:23707;5::');">Scimitar 100ab Logi4</a><br />
                            <a href="javascript:CCPEVE.showFitting('11978:19147;4:2281;1:3568;1:31930;1:32780;1:5975;1:1355;2:8177;1:2048;1:31360;1:31742;1:2488;4:23711;5:32006;30:28668;100::');">Scimitar med, solo</a><br />
                        </td>
                    </tr>
                </table>
                </center>
            </td>
            <td valign="top">
                <h2>Армор</h2>
                <table border="0" cellpadding="5">
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(17843); return false;" title="VNI">
                                <img src="img/Types/17843_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('17843:23527;1:4833;1:3244;1:448;1:18668;1:2048;1:11269;1:3530;1:33101;1:4405;2:31179;1:31185;1:31366;1:21640;4:2185;5:2488;2:33681;2:28668;200:32014;18::');">VNI 100ab 2rep (+2% PG)</a><br />
                            <a href="javascript:CCPEVE.showFitting('17843:2889;2:16511;2:12076;1:448;1:527;1:2024;1:4405;2:11269;1:2048;1:3530;1:33101;1:31017;1:31053;2:33681;2:2185;2:2456;1:2488;5:2185;5:28668;800:21898;1000:32014;16::');">VNI MWD 2rep Standart</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(12005); return false;" title="Ishtar">
                                <img src="img/Types/12005_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('12005:24427;1:23533;2:5302;1:12076;1:20353;1:2048;1:4405;2:11642;1:11646;1:31011;1:31055;1:28213;5:28215;5:28211;5::');">Ishtar Fleet</a><br />
                            <a href="javascript:CCPEVE.showFitting('12005:2889;4:448;1:2024;2:5975;1:2048;1:3530;2:33101;1:4405;2:31011;1:31047;1:28213;5:31892;5:2175;5:2488;5:23705;5:32014;15:21898;1500:12625;1500::');">Ishtar Active 3rep</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(12023); return false;" title="Deimos">
                                <img src="img/Types/12023_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('12023:12346;5:5975;1:3244;1:527;1:4833;1:5837;1:11269;2:1541;1:3530;1:33101;1:31053;2:2185;5:23025;2500:12801;3000:12805;2000:32014;10:28668;200::');">Deimos Rails</a><br />
                            <a href="javascript:CCPEVE.showFitting('12023:3138;5:5975;1:448;1:527;1:2024;1:33101;1:10190;1:3530;1:11269;2:2048;1:31053;2:2185;5:12789;2400:28668;200:32014;12:12785;3000:23025;3000::');">Deimos Blasters</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(12019); return false;" title="Sacrilege">
                                <img src="img/Types/12019_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('12019:16471;1:25715;5:6005;1:5439;1:4025;2:20353;1:22291;2:2048;1:11269;1:31594;1:31059;1:2185;5:24490;1500:24488;1500:24494;1500:27413;1500::');">Sacrilege 10ab HAML</a><br />
                            <a href="javascript:CCPEVE.showFitting('12019:25715;5:16511;1:448;1:6159;1:5975;1:4027;1:13984;1:11269;1:22291;2:11325;1:31594;1:31600;1:2679;1330:24492;1000:24494;1000:27401;1000:27405;1000:27413;670:27419;1000:29011;1::');">Sacrilege MWD HAML</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(12003); return false;" title="Zealot">
                                <img src="img/Types/12003_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('12003:3520;5:35659;1:3244;1:2024;1:11269;2:2364;2:2605;1:1999;1:33101;1:31053;1:31185;1:28668;100:12818;5:12814;5:23093;5::');">Zealot MWD AAR</a><br />
                            <a href="javascript:CCPEVE.showFitting('12003:3520;5:35656;1:1952;2:11325;1:1306;1:11644;1:11648;1:2048;1:2364;2:31360;1:31055;1:29009;2:29011;2:23089;5:12814;5:12818;5::');">Zealot 10ab Fleet Fat</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(12015); return false;" title="Muninn">
                                <img src="img/Types/12015_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('12015:2913;5:5975;1:448;1:527;1:2048;1:519;2:11269;1:11646;1:20353;1:31029;1:31059;1:2456;5:21896;3000:12777;4000:12773;3000::');">Muninn Armor HAC</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(17720); return false;" title="Cynabal">
                                <img src="img/Types/17720_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('17720:12267;1:2897;4:5975;1:3244;1:448;1:1952;2:20353;1:2048;1:11269;2:519;1:31017;1:31059;2::');">Cynabal Armor Camper</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(17709); return false;" title="Omen Navy Issue">
                                <img src="img/Types/17709_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('17709:3520;4:12267;1:5975;1:3244;1:2024;1:5837;1:2364;3:11269;1:2605;1:33101;1:31360;2:31179;1:23707;5:2488;5:12814;4:12818;4:23089;4::');">Omen Navy Kiter</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(29344); return false;" title="Exequror Navy Issue">
                                <img src="img/Types/29344_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('29344:3130;5:5975;1:527;1:448;1:3568;1:2048;1:10190;2:11269;2:11325;1:31055;2:31360;1:23025;2500:12789;2000:12785;2000:28668;50:32006;15::');">Exequror Navy Blasters</a><br />
                            <a href="javascript:CCPEVE.showFitting('29344:3082;5:5975;1:5399;1:527;1:3568;1:2048;1:10190;1:3888;1:1335;3:31360;1:33896;2:2456;5:22977;2500:12801;3000:12805;2500:32006;10::');">Exequror Navy Rails Hull</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(17922); return false;" title="Ashimmu">
                                <img src="img/Types/17922_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('17922:16471;4:5975;1:3244;1:527;1:4833;1:2048;1:11646;1:11644;1:11648;1:11269;1:20353;1:31372;1:31390;1:31408;1:2185;4:32014;10:28668;100::');">Ashimmu 1600mm Neut</a><br />
                            <a href="javascript:CCPEVE.showFitting('17922:3520;3:19111;2:12076;1:3244;1:4027;2:2048;1:11269;1:3530;1:18768;1:2364;1:20351;1:31372;2:31360;1:2488;8:23089;3:12818;3:12814;3::');">Ashimmu Solo</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11971); return false;" title="Lachesis">
                                <img src="img/Types/11971_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11971:16471;1:13003;1:13001;2:5975;1:3244;1:15887;1:2032;1:5302;3:11229;1:18799;1:18803;1:20353;1:31059;2:2488;5:29015;4:29013;4::');">Lachesis MWD Armor</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11963); return false;" title="Rapier">
                                <img src="img/Types/11963_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11963:1877;3:11578;1:1952;2:14248;1:5975;1:17559;2:2048;1:20353;1:11269;2:31059;2:2488;3:23707;5:28668;150:27371;1000::');">Rapier Armor</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11987); return false;" title="Guardian">
                                <img src="img/Types/11987_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11987:16455;4:16487;2:20218;1:12058;1:20353;1:13970;1:1355;1:13982;1:15729;1:31360;2:2488;5::');">Guardian 4-2 Faction</a><br />
                            <a href="javascript:CCPEVE.showFitting('11987:16487;2:16455;3:26914;1:12058;1:20218;1:20353;1:18710;2:19361;1:18861;1:31366;2:2488;4::');">Guardian 4-2 Deadspace (+1% PG)</a><br />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#" onclick="javascript:CCPEVE.showInfo(11989); return false;" title="Oneiros">
                                <img src="img/Types/11989_32.png" /></a>
                        </td>
                        <td>
                            <a href="javascript:CCPEVE.showFitting('11989:18987;4:2032;2:5975;1:3568;1:20353;2:18803;1:2048;1:11269;1:31366;1:31073;1:23707;5:2488;5:32006;20:28668;50::');">Oneiros FAT</a><br />
                            <a href="javascript:CCPEVE.showFitting('11989:19053;4:12058;1:20236;1:5975;1:3568;1:20353;1:18839;1:19029;2:14072;1:31378;2:2488;5:23707;5:32006;25:28668;50::');">Oneiros solo</a><br />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center></div>
