## -*- coding: utf-8 -*-

<center>
  <hr width="90%" color="#333333" />
  <span class="credits"><b>W</b>ormHole <b>D</b>ata<b>B</b>ase e<b>X</b>tended
    |
    <a href="/about/">${tr.gettext('About project')}</a>
    |
    <a href="https://github.com/minlexx/whdbx_web">GitHub</a>
    |
    Contact: <a href="https://evewho.com/pilot/Lexx+Min" target="_blank">Lexx Min</a>
    (<a href="http://forum.eve-ru.com/index.php?showuser=45938" target="_blank">on EVE-RU</a>)
  </span><br />
</center>
##<%include file="dump_env.py"/>
</body>
</html>
