## -*- coding: utf-8 -*-

## function to output menu item
<%def name="print_effects(e, name)">
</%def>

<!-- ------------------------------- -->
<!-- MENU WILLL BE HERE -->
<div class="menu_block">
<center>
  % if MODE == 'default':
  <img src="/static/img/refresh.png" width="16" />
    % if HAVE_SSO_LOGIN == 'true':
    <a href="/">ТЕКУЩАЯ СИСТЕМА</a>
    % else:
    <a href="/">ПОИСК СИСТЕМЫ</a>
    % endif
  <img src="/static/img/refresh.png" width="16" /> |
  % else:
  %   if HAVE_SSO_LOGIN == 'true':
  <a href="/">ТЕКУЩАЯ СИСТЕМА</a> |
  %   else:
  <a href="/">ПОИСК СИСТЕМЫ</a> |
  %   endif
  % endif

  % if MODE == 'ss':
  J<input type="text" name="ssys" id="ssys" maxlength="15" size="9" onkeyup="fast_search_system();" />
  <div class="fast_search_result" id="fast_search_result"></div> |
  % endif

  <a href="/signatures/?id=all">СИГНАТУРКИ</a> |
  <a href="/sleepers/?id=all">СЛИПЕРЫ</a> |
  <a href="/effects/">ЭФФЕКТЫ</a> |
  <a href="/whdb/">БАЗА ВХ</a>
</center>
</div>
<!-- ------------------------------- -->