## -*- coding: utf-8 -*-

              <!-- REPORT STATICS FORM -->
              <a href="#" onclick="javascript:showhide('report_statics_form');">
                ${tr.gettext('Report statics!')}
              </a>
              <div id="report_statics_form" style="display: none">
                ${tr.gettext('Write statics names, <br /> separating with commas:')}
                <input type="text" id="new_statics" name="new_statics" size="15"
                    value="${whsys.wh_statics_str}" />
                <input type="button" value="Обновить"
                    onclick="javascript:report_statics(${whsys.ssys_id});" />
                <div id="new_statics_report_result"></div>
              </div>
              <!-- REPORT STATICS FORM END -->
