## -*- coding: utf-8 -*-
<%!
    from classes.utils import dotted_number
%>
<%include file="header.html"/>

<%def name="print_wave(wave)">
  % if wave.is_capital:
    % if wave.wave_id == 1:
    ${tr.gettext('Capital escalation wave is spawned for each capital ship type warp-in.')}<br /><br />
    % endif
  ${tr.gettext('Cap. escalation wave')} ${wave.wave_id}:
  % else:
   ${tr.gettext('Wave')} ${wave.wave_id}:
 % endif
  <img src="/static/img/sigs/dps.png" width="22" />
  <span class="sig_dps">${wave.total_dps}</span> DPS,
<img src="/static/img/sigs/wreck.png" width="20" />
  <span class="sig_isk">${wave.total_isk | dotted_number}</span> ISK
    <ul>
        % for sl in wave.sleepers:
        <li>
            ${sl.count}
            <img src="/static/img/sleepers/icons/${sl.icon}.png" />
            <a href="/sleepers/${sl.id}/" target="_blank">${sl.name}</a>
            &nbsp;
            % if sl.orbit > 0:
            <span class="zkb_time">
              <img src="/static/img/sleepers/icons/orbit2.png" width="16" /> ${int(sl.orbit / 1000)} km
            </span>
            % endif
            &nbsp;
            % for abil in sl.abilities:
            <img src="/static/img/sleepers/icons/${abil}.png" width="22" />
            % endfor
            % if sl.is_trigger:
            <font color="#FF2222"><b>TRIGGER</b></font>
            % endif
            % if sl.is_random_spawn:
            <font color="#6688FF"><b>RANDOM</b></font>
            % endif
            % if sl.is_anomaly_despawn_trigger:
            <font color="#229922"><b>ANOMALY_DESPAWN</b></font>
            % endif
            % if sl.is_decloaked_container_trigger:
            <font color="#666666"><b>DRIFTER CONTAINER</b></font>
            % endif
            % if sl.is_on_attack_trigger:
            <font color="#FF2222"><b>TRIGGER_ON_ATTACK</b></font>
            % endif
        </li>
        % endfor
    </ul>
</%def>


% if sig.is_valid():
## single signature info
<div class="signature_info">
    % if len(sigs)>0:
    <div class="whsys_signatures_info">
        <span class="infoblock_header_text">
            % if sig.wh_class == 12:
            ${tr.gettext('Thera signatures and anomalies:')}
            % elif sig.wh_class == 13:
            ${tr.gettext('Signatues and anomalies of frig-WH:')}
            % elif (sig.wh_class >= 1) and (sig.wh_class <= 6):
            ${tr.gettext('Signatues and anomalies')} ${sig.wh_class}${tr.gettext('th class')}:
            % elif (sig.wh_class >= -6) and (sig.wh_class <= -1):
            ${tr.gettext('Signatues and anomalies')} ${(-1) * sig.wh_class}${tr.gettext('th class')}:
            % else:
            ${tr.gettext('Other signatures of the same type:')}
            % endif
        </span><br />
        <ul>
        % for a_sig in sigs:
            <li>
                <img src="/static/img/sigs/${a_sig['sig_type']}_site.png" width="20" />
                <a href="/signatures/${a_sig['id']}/">${a_sig['sig_name']}</a>
                % if a_sig['max_dps'] > 0:
                &nbsp;&nbsp;&nbsp;&nbsp;<span class="sig_dps">${a_sig['max_dps']} dps</span>
                % endif
                <br />
            </li>
        % endfor
        </ul>
    </div>
    % endif

    <h2><img src="/static/img/sigs/${sig.sig_type}_site.png" />${sig.name}, ${tr.gettext(sig.sig_type)}
    % if sig.wh_class == 12:
        , Thera
    % elif sig.wh_class == 13:
        , ${tr.gettext('frig-shattered')}
    % elif (sig.wh_class >= 1) and (sig.wh_class <= 6):
        , ${tr.gettext('class')} ${sig.wh_class}
    % elif (sig.wh_class >= -6) and (sig.wh_class <= -1):
        , ${tr.gettext('class')} ${(-1) * sig.wh_class} ${tr.gettext('shattered')}
    % endif
    </h2>

    % if sig.is_oregas():
    <p>${tr.gettext('Sleepers appear approximately in 20 minutes after signature activation.')}</p>
    % endif

    % if sig.sig_id == 36:  # Quarantine Area
    ${tr.gettext('No triggers on this site, any sleeper kill can trigger next wave.')}<br /><br />
    <b>${tr.gettext('Recommendation:')}</b>
    <ol>
        <li>${tr.gettext('Destroy all sleeper battleships')} <img src="/static/img/sleepers/icons/battleship.png"></li>
        <li>${tr.gettext('Destory all other sleepers')}</li>
    </ol>
    % endif

    % for wave in sig.waves:
    ${print_wave(wave)}
    % endfor

    % if sig.is_gas():
        ${tr.gettext('Gas clouds')}:<br/>
        <ul>
        % for gas in sig.gas_clouds:
            <li>
                <img src="https://images.evetech.net/types/${gas.typeid}/icon?size=32" />
                <b><a href="#" onclick="showTypeInfo(${gas.typeid}); return false;">${gas.friendlyName}</a></b>
                * <span class="sig_ehp">${gas.count}</span>,
                всего <span class="sig_isk">${gas.total_price | dotted_number}</span> ISK
                (<span class="sig_isk">${round(gas.price1piece) | dotted_number}</span> ISK/${tr.gettext('unit')})<br />
                ${tr.gettext('Full Venture:')} <span class="sig_isk">${gas.full_venture_price | dotted_number}</span> ISK
                (<b>${gas.volume1piece}</b> m3 ${tr.gettext('unit')}, <b>${gas.num_pcs_in_venture}</b> ${tr.gettext('total units')})
                <br />
                ${tr.gettext('Harvesting in a Venture')}: <span class="sig_isk">${gas.isk_per_hour_venture | dotted_number}</span> ISK/${tr.gettext('hour')},
                ${tr.gettext('the entire cloud in about')} <span class="sig_ehp">${round(gas.harvest_time_full_minutes)}</span> ${tr.gettext('minutes')}.
            </li>
        % endfor
        </ul>
        ${tr.gettext('Full profit from gas clouds')}: <span class="sig_isk">${sig.total_isk_oregas | dotted_number}</span> ISK<br />
        (${tr.gettext('Jita sell price, updates once a day')})<br />
        (${tr.gettext('Time to fill a Venture with')} 2 x
        <a href="#" onclick="showTypeInfo(25812); return false;">Gas Cloud Harvester II</a>,
        <a href="#" onclick="showTypeInfo(32918); return false;">Mining Frigate V</a>,
        ${tr.gettext('without mining bonuses')} = <span class="sig_ehp">31</span> ${tr.gettext('minutes')}.)<br />
    % elif sig.is_ore():
        ${tr.gettext('Ore asteroids')}:<br/>
        <ul>
        % for ore in sig.ore_rocks:
            <li>
                <img src="https://images.evetech.net/types/${ore.typeid}/icon?size=32" />
                <b><a href="#" onclick="showTypeInfo(${ore.typeid}); return false;">${ore.name}</a></b>
                * <span class="sig_ehp">${ore.count}</span>
            </li>
        % endfor
        </ul>
    % endif

    <br />
    <br />
    <hr />

    <ul>
        <li>
            Total: <img src="/static/img/sigs/wreck.png" width="20" />
            <span class="sig_isk">${sig.total_isk | dotted_number}</span> ISK
            % if sig.has_capital_waves:
            (${tr.gettext('without cap. escalations')})
            % endif
        </li>
        <li>
            ${tr.gettext('Total')}: <img src="/static/img/sigs/ehp2.png" width="22" />
            <span class="sig_ehp">${sig.total_ehp | dotted_number}</span> EHP</li>
        <li>
            ISK/EHP: <b>${sig.isk_per_ehp | dotted_number}</b>
        </li>
        <li>
            <img src="/static/img/sigs/dps.png" width="22" />100 dps:
            <span class="sig_isk">${sig.isk_per_hour_per_100dps | dotted_number}</span> ISK/${tr.gettext('hour')}
        </li>
        <li>
            <img src="/static/img/sigs/dps.png" width="22" />500 dps:
            <span class="sig_isk">${sig.isk_per_hour_per_500dps | dotted_number}</span> ISK/${tr.gettext('hour')}
        </li>
    </ul>
</div>

% else:
## all signatures info:

<%def name="print_sigs_list(sigs_list)">
    <ul>
    % for a_sig in sigs_list:
        <li>
            <img src="/static/img/sigs/${a_sig['sig_type']}_site.png" width="20" />
            <a href="/signatures/${a_sig['id']}/">${a_sig['sig_name']}</a>
            % if a_sig['max_dps'] > 0:
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="sig_dps">${a_sig['max_dps']} dps</span>
            % endif
            <br />
        </li>
    % endfor
    </ul>
</%def>

<%def name="print_sigs_for_class(sigs_list, whclass)">
    <span class="infoblock_header_text">${tr.gettext('Signatues and anomalies')} ${whclass}${tr.gettext('th class')}:</span><br />
    ${print_sigs_list(sigs_list)}
</%def>

<table width="100%">
    <tr>
        <td>${print_sigs_for_class(sigs_c1,1)}</td>
        <td>${print_sigs_for_class(sigs_c2,2)}</td>
        <td>${print_sigs_for_class(sigs_c3,3)}</td>
    </tr>
    <tr>
        <td>${print_sigs_for_class(sigs_c4,4)}</td>
        <td>${print_sigs_for_class(sigs_c5,5)}</td>
        <td>${print_sigs_for_class(sigs_c6,6)}</td>
    </tr>
    <tr>
        <td valign="top">
            <span class="infoblock_header_text">${tr.gettext('Ore sites')}:</span><br />
            ${print_sigs_list(sigs_ore)}
        </td>
        <td valign="top">
            <span class="infoblock_header_text">${tr.gettext('Gas sites')}:</span><br />
            ${print_sigs_list(sigs_gas)}
        </td>
        <td valign="top">
            <span class="infoblock_header_text">${tr.gettext('Thera anomalies')}:</span><br />
            ${print_sigs_list(sigs_thera)}
        </td>
    </tr>
</table>

% endif


##% if sig_dbg is not None:
##<br />
##<div class="dev_data_dump">Signature debug info: <pre>${sig_dbg | h}</pre></div>
##% endif

<%include file="footer.html"/>