## -*- coding: utf-8 -*-
<%include file="header.html"/>

<blockquote>
  ${tr.gettext('You can in most cases easily identify the class of WH system on the other side of K162 hole by its color.\
  Each WH class has its own distinct sky color, and you can see this color through the hole center, if you\
  look closely. And halo color also helps in identifying the hole max ship size.')}
</blockquote>

<table border="0" cellpadding="5" cellspacing="5" width="95%">
  <tr>
    <td>
      <center>
        <h2 class="info_hl">C1</h2>
        <img src="/static/img/wh_colors/c1.png" width="300" /><br />
        <br />
        ${tr.gettext('Halo colour is cyan, that means the hole is <br />\
        medium ship sized; that definitely points to <br />\
        holes that lead to (or from) C1. <br />\
        From inside C1 all holes are like that.')}
      </center>
    </td>
    <td>
      <center>
        <h2 class="info_hl">C2</h2>
        <img src="/static/img/wh_colors/c2.png" width="300" /><br />
        <br />
        ${tr.gettext('Center is dark gray + brown combintaion.')}
      </center>
    </td>
    <td>
      <center>
        <h2 class="info_hl">C3</h2>
        <img src="/static/img/wh_colors/c3.png" width="300" /><br />
        <br />
        ${tr.gettext('Center color is dark gray + slight cyan <br />\
        combination.')}
      </center>
    </td>
  </tr>
  <tr>
    <td>
      <center>
        <h2 class="info_hl">C4</h2>
        <img src="/static/img/wh_colors/c4.png" width="300" /><br />
        <br />
        ${tr.gettext('Halo is like C3, but with light purple tint; <br />\
        center is darker, maroon / dark purple. You <br />\
        can see more purple colors here.')}
      </center>
    </td>
    <td>
      <center>
        <h2 class="info_hl">C5</h2>
        <img src="/static/img/wh_colors/c5.png" width="300" /><br />
        <br />
        ${tr.gettext('Center has strong red + black color combination.<br />')}
      </center>
    </td>
    <td>
      <center>
        <h2 class="info_hl">C6</h2>
        <img src="/static/img/wh_colors/c6.png" width="300" /><br />
        <br />
        ${tr.gettext('Bright orange color definitely points to C6. <br />\
        You cannot make mistakes here.')}
      </center>
    </td>
  </tr>
  <tr>
    <td>
      <center>
        <h2 class="info_hl">Pochven region</h2>
        <img src="/static/img/wh_colors/pochven.png" width="300" /><br />
        <br />
        ${tr.gettext('You can see red Triglav space through it.')}
      </center>
    </td>
  </tr>
</table>

<%include file="footer.html"/>