## -*- coding: utf-8 -*-
<%include file="header.html"/>

<script type="text/javascript">
function look_checkbox(name) {
    var ret_url = '';
    var cb = document.getElementById(name);
    if (cb) {
        if (cb.checked) {
            ret_url += '&';
            ret_url += cb.name;
            ret_url += '=';
            ret_url += cb.value;
        }
    }
    return ret_url;
}

function send_find() {
    var res_div = document.getElementById('jsystem_search_results');
    if( !res_div ) return false;
    res_div.innerHTML = 'Search...';
    //
    var url = '/ajax/?whdb=1';
    var all_cbs = [
        'c1', 'c2', 'c3', 'c4', 'c5', 'c6',
        'sh_c1', 'sh_c2', 'sh_c3', 'sh_c4', 'sh_c5', 'sh_c6',
        'frigwr', 'drifters',
        'noeffect', 'bh', 'cv', 'mag', 'pul', 'rg', 'wr',
        'in_c1', 'in_c2', 'in_c3', 'in_c4', 'in_c5', 'in_c6', 'in_null', 'in_low', 'in_high' ];
    for (var i=0; i<all_cbs.length; i++ ) {
        url += look_checkbox(all_cbs[i]);
    }
    //
    res_div.innerHTML = '';
    myajax(url, whdb_search_handler);
    return true;
}

function whdb_search_handler() {
    if( g_xmlhttp == null ) return false;
    var res_div = document.getElementById('jsystem_search_results');
    if( !res_div ) return false;
    var resp = '';
    if( g_xmlhttp.readyState==4 && g_xmlhttp.status==200 ) {
        resp = g_xmlhttp.responseText;
    }
    if( (resp != '') && (resp != 'ERROR') ) {
        var obj = JSON.parse(resp);
        //res_div.innerHTML += 'Query: <pre>' + obj.query + '</pre><br />';
        //res_div.innerHTML += '[<pre>' + obj.systems + '</pre>]';
        var table = document.createElement('table');
        res_div.appendChild(table);
        table.style.border = '1px solid red';
        table.style.padding = '2px';

        // table header
        var tr = table.insertRow(0);
        var cell1 = tr.insertCell(0);
        var cell2 = tr.insertCell(1);
        var cell3 = tr.insertCell(2);
        var cell4 = tr.insertCell(3);
        var cell5 = tr.insertCell(4);
        var cell6 = tr.insertCell(5);
        cell1.innerHTML = '#';
        cell1.style.backgroundColor = '#444444';
        cell1.style.paddingLeft = '5px';
        cell1.style.paddingRight = '5px';
        cell2.innerHTML = ' J-system';
        cell2.style.backgroundColor = '#444444';
        cell2.style.paddingLeft = '5px';
        cell2.style.paddingRight = '5px';
        cell3.innerHTML = ' class';
        cell3.style.backgroundColor = '#444444';
        cell3.style.paddingLeft = '5px';
        cell3.style.paddingRight = '5px';
        cell4.innerHTML = ' killboard';
        cell4.style.backgroundColor = '#444444';
        cell4.style.paddingLeft = '5px';
        cell4.style.paddingRight = '5px';
        cell5.innerHTML = ' Effects';
        cell5.style.backgroundColor = '#444444';
        cell5.style.paddingLeft = '5px';
        cell5.style.paddingRight = '5px';
        cell6.innerHTML = ' Statics';
        cell6.style.backgroundColor = '#444444';
        cell6.style.paddingLeft = '5px';
        cell6.style.paddingRight = '5px';

        for (var i=0; i<obj.systems.length; i++) {
            var tr = table.insertRow(i+1);
            var cell1 = tr.insertCell(0);
            var cell2 = tr.insertCell(1);
            var cell3 = tr.insertCell(2);
            var cell4 = tr.insertCell(3);
            var cell5 = tr.insertCell(4);
            var cell6 = tr.insertCell(5);
            cell1.innerHTML = '#' + (i+1);
            cell1.style.paddingLeft = '5px';
            cell1.style.paddingRight = '5px';
            cell2.innerHTML = '<a href=\"/' + obj.systems[i].name + '\">' + obj.systems[i].name + '</a>';
            cell2.style.paddingLeft = '5px';
            cell2.style.paddingRight = '5px';
            cell3.innerHTML = 'c' + obj.systems[i].class;
            cell3.style.paddingLeft = '5px';
            cell3.style.paddingRight = '5px';
            if (obj.systems[i].class == 7) {
                cell3.innerHTML = 'hi-sec';
            } else if (obj.systems[i].class == 8) {
                cell3.innerHTML = 'low-sec';
            } else if (obj.systems[i].class == 9) {
                cell3.innerHTML = 'null-sec';
            } else if (obj.systems[i].class == 13) {
                cell3.innerHTML = 'frig-WH';
            } else if (obj.systems[i].class == 12) {
                cell3.innerHTML = 'Thera';
            } else if ((obj.systems[i].class >= -6) && (obj.systems[i].class <= -1)) {
                cell3.innerHTML = 'shattered c' + Math.abs(obj.systems[i].class);
            } else if ((obj.systems[i].class >= 14) && (obj.systems[i].class <= 18)) {
                cell3.innerHTML = 'drifters c' + Math.abs(obj.systems[i].class);
            }
            cell4.innerHTML = '';
            cell4.style.paddingLeft = '5px';
            cell4.style.paddingRight = '5px';
% if sitecfg.ZKB_USE_EVEKILL:
            cell4.innerHTML += ' [<a href=\"https://beta.eve-kill.net/system/' + obj.systems[i].id + '/\">EVEKILL</a>]';
% endif
            cell4.innerHTML += ' [<a href=\"https://zkillboard.com/system/' + obj.systems[i].id + '/\">ZKB</a>]';
            // https://zkillboard.com/system/31002234/
            cell5.innerHTML = obj.systems[i].effect;
            cell5.style.paddingLeft = '5px';
            cell5.style.paddingRight = '5px';
            cell6.innerHTML = obj.systems[i].statics.join(', ');
            cell6.style.paddingLeft = '5px';
            cell6.style.paddingRight = '5px';
        }
    }
}
</script>

<div class="solarsystem_info_wrapper" align="center">
    <h1>${tr.gettext('WH Database')}</h1>
    <p class="infoblock_header_text">${tr.gettext('Find all systems:')}</p>
    <form>
        <table>
            <tr>
                <td>${tr.gettext('Select class:')}</td>
                <td>
                    <input type="checkbox" id="c1" name="class" value="1" />
                    <label for="c1">${tr.gettext('class')} c1</label>
                    <input type="checkbox" id="c2" name="class" value="2" />
                    <label for="c2">${tr.gettext('class')} c2</label>
                    <input type="checkbox" id="c3" name="class" value="3" />
                    <label for="c3">${tr.gettext('class')} c3</label>
                    <input type="checkbox" id="c4" name="class" value="4" />
                    <label for="c4">${tr.gettext('class')} c4</label>
                    <input type="checkbox" id="c5" name="class" value="5" />
                    <label for="c5">${tr.gettext('class')} c5</label>
                    <input type="checkbox" id="c6" name="class" value="6" />
                    <label for="c6">${tr.gettext('class')} c6</label>
                    <br />
                    <input type="checkbox" id="sh_c1" name="class" value="-1" />
                    <label for="sh_c1">${tr.gettext('shattered')} c1</label>
                    <input type="checkbox" id="sh_c2" name="class" value="-2" />
                    <label for="sh_c2">${tr.gettext('shattered')} c2</label>
                    <input type="checkbox" id="sh_c3" name="class" value="-3" />
                    <label for="sh_c3">${tr.gettext('shattered')} c3</label>
                    <input type="checkbox" id="sh_c4" name="class" value="-4" />
                    <label for="sh_c4">${tr.gettext('shattered')} c4</label>
                    <input type="checkbox" id="sh_c5" name="class" value="-5" />
                    <label for="sh_c5">${tr.gettext('shattered')} c5</label>
                    <input type="checkbox" id="sh_c6" name="class" value="-6" />
                    <label for="sh_c6">${tr.gettext('shattered')} c6</label>
                    <br />
                    <input type="checkbox" id="frigwr" name="class" value="frigwr" />
                    <label for="frigwr">${tr.gettext('frig-WH')}</label>
                    <input type="checkbox" id="drifters" name="class" value="drifters" />
                    <label for="drifters">${tr.gettext('drifters-WH')}</label>
                </td>
            </tr>
            <tr>
                <td>${tr.gettext('With effect')}:</td>
                <td>
                    <input type="checkbox" id="noeffect" name="effect" value="noeffect" />
                    <label for="noeffect">${tr.gettext('No effect')}</label>
                    <input type="checkbox" id="bh" name="effect" value="bh" />
                    <label for="bh">Black Hole</label>
                    <input type="checkbox" id="cv" name="effect" value="cv" />
                    <label for="cv">Cataclysmic Variable</label>
                    <input type="checkbox" id="mag" name="effect" value="mag" />
                    <label for="mag">Magnetar</label>
                    <input type="checkbox" id="pul" name="effect" value="pul" />
                    <label for="pul">Pulsar</label>
                    <input type="checkbox" id="rg" name="effect" value="rg" />
                    <label for="rg">Red Giant</label>
                    <input type="checkbox" id="wr" name="effect" value="wr" />
                    <label for="wr">Wolf-Rayet</label>
                </td>
            </tr>
            <tr>
                <td>${tr.gettext('With static')}:</td>
                <td>
                    <input type="checkbox" id="in_c1" name="in_class" value="1" />
                    <label for="in_c1">${tr.gettext('to class')} 1</label>
                    <input type="checkbox" id="in_c2" name="in_class" value="2" />
                    <label for="in_c2">${tr.gettext('to class')} 2</label>
                    <input type="checkbox" id="in_c3" name="in_class" value="3" />
                    <label for="in_c3">${tr.gettext('to class')} 3</label>
                    <input type="checkbox" id="in_c4" name="in_class" value="4" />
                    <label for="in_c4">${tr.gettext('to class')} 4</label>
                    <input type="checkbox" id="in_c5" name="in_class" value="5" />
                    <label for="in_c5">${tr.gettext('to class')} 5</label>
                    <input type="checkbox" id="in_c6" name="in_class" value="6" />
                    <label for="in_c6">${tr.gettext('to class')} 6</label>
                    <input type="checkbox" id="in_null" name="in_class" value="9" />
                    <label for="in_null">${tr.gettext('to Null-sec')}</label>
                    <input type="checkbox" id="in_low" name="in_class" value="8" />
                    <label for="in_low">${tr.gettext('to Low-sec')}</label>
                    <input type="checkbox" id="in_high" name="in_class" value="7" />
                    <label for="in_high">${tr.gettext('to High-sec')}</label>
                </td>
            </tr>
        </table>
        <input type="button" onclick="send_find();" value="${tr.gettext('Search!')}" />
    </form>

    <div id="jsystem_search_results">
        &nbsp;
    </div>
</div>

<%include file="footer.html"/>