## -*- coding: utf-8 -*-
<%include file="header.html"/>

<div class="solarsystem_info_wrapper">

<%def name="print_sec_info(sec)">
  % if sec >= 0.5:
    ${tr.gettext('high-sec')}
  % elif (sec > 0) and (sec < 0.5):
    ${tr.gettext('low-sec')}
  % else:
    ${tr.gettext('null-sec')}
  % endif
</%def>

<%def name="print_static_info(s)">
  <span class="static_name" onmouseover="Tip(''+
  '${tr.gettext('Leads into')}: <b>${s.in_class_str}</b><br />'
   + '${tr.gettext('Mass')}: <b>${s.max_mass_tt}</b> ${tr.gettext('mil. kg')}<br />'
   + '${tr.gettext('Jump mass')}: <b>${s.max_jump_mass_tt}</b> ${tr.gettext('mil. kg')}<br />'
   + '${tr.gettext('Life time')}: <b>${s.lifetime_hr}</b>${tr.gettext('h.')}<br />'
   + '');"
  onmouseout="UnTip();">${s.name} ${s.in_class_str}</span>
</%def>

<%def name="print_effect(e)">
  % if e == None:
  <span class="info_hl">${tr.gettext('no effect')}</span>
  % else:
  <span class="static_name" onmouseover="Tip(document.getElementById('current_effect_html').innerHTML);" onmouseout="UnTip();">${e.name}</span>
  % endif
</%def>


<div style="display: none; border: 1px" id="current_effect_html">
% if whsys.wh_effect:
    <b>${whsys.wh_effect.name}</b>, ${tr.gettext('class')} <b>${whsys.wh_effect.hole_class_str}</b>:<br />
    <table border="0" cellpadding="5"><tr>
        <td><img src="/static/img/effect_icons/${whsys.wh_effect.effect_icon}" /></td>
        <td>
  % for erow in whsys.wh_effect.effects:
## ('Missile velocity', 'missile velocity.png', '36%')
            <img src="/static/img/effect_icons/${erow[1]}" class="effect_icon" /> &nbsp;&nbsp;&nbsp;
            ${tr.gettext(erow[0])}: <span class="effect_value">${erow[2]}</span><br />
  % endfor
        </td>
    </tr></table>
% else:
    <b>{$tr.gettext('No effect')}</b>
% endif
</div>


<div class="solarsystem_info">


<span class="infoblock_header_text">${tr.gettext('WH-system')}:
% if whsys.is_valid():
  <span class="whsys_name">${whsys.name}</span> &lt;
  <span class="whsys_name">${whsys.const_name}</span> &lt;
  <span class="whsys_name">${whsys.reg_name}</span>
% endif
</span>

    % if whsys.is_valid() and whsys.is_wh:
    <div class="whsys_signatures_info">
    <span class="infoblock_header_text">${tr.gettext('Signatures and anomalies')}:</span><br />
    <blockquote>
    % for sig in sigs:
        <img src="/static/img/sigs/${sig['sig_type']}_site.png" width="20" />
        <a href="/signatures/${sig['id']}/" target="_blank">${sig['sig_name']}</a>
        % if sig['max_dps'] > 0:
        &nbsp;&nbsp;&nbsp;&nbsp;<span class="sig_dps">${sig['max_dps']} dps</span>
        % endif
        <br />
    % endfor
    </blockquote>
    </div>
    % endif

<blockquote>

<br />

% if not whsys.is_valid():

    ${tr.gettext('No information.')}<br />

% elif whsys.is_wh:

    % if whsys.is_thera():
        ${tr.gettext('WH class')}: <span class="info_hl">Thera</span><br />
        <ul>
        <li><span class="newwh_comment">
            ${tr.gettext('Thera can have signatures from classes 3-4,<br />all gas/ore anoms from higher classes.<br />')}
            ${tr.gettext('<b>8</b> statics - <b>2</b> to high-sec, <b>3</b> to low-sec, <b>3</b> to nullsec.')}
            </span>
        </li>
        </ul>
    % elif whsys.is_frig_shattered():
        ${tr.gettext('WH class')}: <span class="info_hl">${tr.gettext('frig-WH, classes 1-3, effect from C6')}</span><br />
        <ul>
          <li>
            <span class="newwh_comment">
              ${tr.gettext('All statics are frig-sized holes.')}<br />
              ##<%include file="report_statics_form.html"/>
            </span>
          </li>
        </ul>
    % elif whsys.is_shattered():
        ${tr.gettext('WH class')}: <span class="info_hl">С${(whsys.wh_class * (-1))} (${tr.gettext('shattered')})</span><br />
        <ul>
          <li>
            <span class="newwh_comment">
              ${tr.gettext('These are new systems, statics info <br />may be incorrect or missing. Please report errors!<br />')}
              ##<%include file="report_statics_form.html"/>
              % if whsys.name == 'J005299':
                <b>Sansha wormhole! Sansha anomalies.</b>
              % endif
            </span>
          </li>
        </ul>
    % elif whsys.is_drifters():
        ${tr.gettext('WH class')}: <span class="info_hl">С${whsys.wh_class} (${tr.gettext('drifters')})</span><br />
        <ul>
            <li><span class="newwh_comment">
              ${tr.gettext('Effect from C2, no statics info.<br />Usually has many holes to k-space systems.')}
            </span></li>
        </ul>
    % else:
        ${tr.gettext('WH class')}: <span class="info_hl">С${whsys.wh_class}</span><br />
    % endif

% if len(whsys.wh_statics) == 0:
  ${tr.gettext('Statics')}: <span class="info_hl">${tr.gettext('unknown')}</span>
% elif len(whsys.wh_statics) == 1:
  ${tr.gettext('Static')}: ${print_static_info(whsys.wh_statics[0])}
% else:
  ${tr.gettext('Statics')}:
  % for a_static in whsys.wh_statics:
    ${print_static_info(a_static)}
    % if not loop.last:
      ,
    % endif
  % endfor
% endif
<br />
${tr.gettext('Effect')}: ${print_effect(whsys.wh_effect)}<br />
${tr.gettext('Planets')}: <span class="info_hl">${whsys.wh_planets}</span> &nbsp;&nbsp;&nbsp;
  ( <span class="static_name" onmouseover="Tip(''+
  % for planet in whsys.planets:
  '${planet.name_nbsp}&nbsp;&nbsp;(<span style=\&quot;color: ${planet.color}; font-weight: bold;\&quot;>${planet.type.capitalize()}</span>)<br />' +
  % endfor
  '');" onmouseout="UnTip();">${tr.gettext('List of planets')}</span> )<br />
${tr.gettext('Moons')}: <span class="info_hl">${whsys.wh_moons}</span><br />
${tr.gettext('Star')}: <span class="info_hl">${whsys.wh_star}</span><br />

% else:

 <b>${whsys.name}</b> ${tr.gettext('is not a WH system. It is')} ${print_sec_info(whsys.security_full)}.<br />

% endif

% if whsys.is_valid():
 <!-- common properties for all types of systems -->
 ${tr.gettext('Security level')}: <span style="color: ${whsys.sec_color}; font-weight:bold;">${whsys.security}</span><br />
 ${tr.gettext('Radius')}: <span class="info_hl">${whsys.radius_ae} AE</span> (${tr.gettext('last planet orbit')})<br />
 ##Поделиться ссылкой: <a href="/${whsys.name}" target="_blank">${whsys.name}</a><br />
 ${tr.gettext('See system on:')} <a href="http://anoik.is/systems/${whsys.name}">Anoik.is</a>,
             <a href="http://www.ellatha.com/eve/WormholeSystemview.asp?key=${whsys.number_name}">Ellatha.com</a>,
             <a href="https://zkillboard.com/system/${whsys.ssys_id}/">ZKB</a><br />
% endif

</blockquote>

##% if whsys_dbg is not None:
##<br />
##<div class="dev_data_dump">Solar system debug info: <pre>${whsys_dbg | h}</pre></div>
##% endif

</div>


</div>
<!-- solarsystem_info_wrapper -->

<blockquote id="zkb_block_container">
## removed, async AJAX loader will be used instead
##<%include file="zkb_block.html"/>
  <br /><br /><br />
    <center>
      <img src="/static/img/loading_gifs/loading03.gif" />
    </center>
    <br /><br /><br />
</blockquote>


<script>
  document.addEventListener("DOMContentLoaded", function(event) {
      jQuery.ajax({
          'url': '/ajax',
          'data': {'zkb_block': '', 'ssid': '${whsys.ssys_id}'},
          'method': 'GET',
          'timeout': 45000,
          'cache': false
      })
      .done(function(data, textStatus, jqXHR) {
          $('#zkb_block_container').html(data);
      });
  });
</script>

<%include file="footer.html"/>