## -*- coding: utf-8 -*-

<br />

% if zkb_block_title != '':
  <span class="infoblock_header_text">${zkb_block_title}</span><br />
% else:
  <span class="infoblock_header_text">${tr.gettext('PVP-activity for system from')}
    <a href="http://zkillboard.com/system/${zkb_ssid}/" target="_blank">zKillboard.com</a></span><br />
% endif

<table class="zkb_table">
  <tr>
    <td width="40">${tr.gettext('Link')}</td>
    <td width="90">${tr.gettext('System')}</td>
    <td>${tr.gettext('Time')}</td>
    <td width="40">&nbsp;</td> <!-- ship icon -->
    <td>${tr.gettext('Ship')}</td>
    <td width="32">&nbsp;</td> <!-- corp logo -->
    <td width="200">${tr.gettext('Victim')}</td>
    <td width="32">&nbsp;</td> <!-- corp logo -->
    <td>${tr.gettext('Attackers, final blow')}</td>
  </tr>
% for akill in zkb_kills:
  <tr>
    <!-- link -->
    <td class="zkb_table_${loop.odd}">
      % if sitecfg.ZKB_USE_EVEKILL:
      <a href="https://beta.eve-kill.net/kill/${akill['killmail_id']}" target="_blank">EVEKILL</a><br />
      % endif
      <a href="https://zkillboard.com/kill/${akill['killmail_id']}" target="_blank" title="Kill on ZKillboard">ZKB</a>
    </td>
    <!-- solarsystem -->
    <td class="zkb_table_${loop.odd}" width="60">
      <a href="/${akill['solar_system_name']}">${akill['solar_system_name']}</a><br />
      <span style="color: ${akill['solar_system_security_color']}">${akill['solar_system_security']}</span>
      <span class="zkb_ship">${akill['solar_system_whclass']}</span>
    </td>
    <!-- time -->
    <td class="zkb_table_${loop.odd}" width="60">
      <span class="zkb_time">
        ${akill['kill_dt'].strftime('%Y-%m-%d')}<br />
        ${akill['kill_dt'].strftime('%H:%M')}
      </span>
      <br />
      % if akill['days_ago'] == 0:
      <span class="zkb_time_hl">${tr.gettext('Today')}</span>
      % elif akill['days_ago'] == 1:
      <span class="zkb_time_hl">${tr.gettext('Yesterday')}</span>
      % elif akill['days_ago'] <= 7:
      <span class="zkb_time_hl">${akill['days_ago']} ${tr.gettext('days ago')}</span>
      % endif
    </td>
    <!-- ship icon -->
    <td class="zkb_table_${loop.odd}">
      <center>
        <a href="#" onclick="showTypeInfo(${akill['victim']['ship_type_id']}); return false;"
                   onmouseover="Tip('${akill['victim']['ship_type_name']}');"
                   onmouseout="UnTip();"
                   title="Show info: ${akill['victim']['ship_type_name']}">
                    <!-- <img src="/img/Types/${akill['victim']['ship_type_id']}_32.png" /> -->
                    <img src="https://imageserver.eveonline.com/Type/${akill['victim']['ship_type_id']}_32.png" />
        </a>
        <span class="zkb_totalvalue">${akill['total_value_m']} mil</span>
      </center>
    </td>
    <!-- ship name -->
    <td class="zkb_table_${loop.odd}" width="100">
      <a href="#" onclick="showTypeInfo(${akill['victim']['ship_type_id']}); return false;"
         title="Show info: ${akill['victim']['ship_type_name']}">
        ${akill['victim']['ship_type_name']}
      </a><br />
      <span class="zkb_ship">${akill['victim']['ship_group_name']}</span>
    </td>
    <!-- victim corp/ally icon -->
    <td class="zkb_table_${loop.odd}">
      ##${akill['victim']['alliance_id']}, ${akill['victim']['corporation_id']}
      <center>
      % if akill['victim']['alliance_id'] > 0:
      <a href="#" onclick="showAllianceInfo(${akill['victim']['alliance_id']}); return false;"
        title="Show info: ${akill['victim']['alliance_name']}">
      <img src="https://image.eveonline.com/Alliance/${akill['victim']['alliance_id']}_32.png" /></a>
      % else:
      <a href="#" onclick="showCorpInfo(${akill['victim']['corporation_id']}); return false;"
         title="Show info: ${akill['victim']['corporation_name']}">
      <img src="https://image.eveonline.com/Corporation/${akill['victim']['corporation_id']}_32.png" /></a>
      % endif
      </center>
    </td>
    <!-- victim name -->
    <td class="zkb_table_${loop.odd}" width="100">
      <a href="#" onclick="showCharInfo(${akill['victim']['character_id']}); return false;"
         title="Show info: ${akill['victim']['character_name']}">
        ${akill['victim']['character_name']}
      </a>
      <br />
      <span class="zkb_att_hl">
        [${akill['victim']['corporation_name']}]
        % if akill['victim']['alliance_id'] > 0:
        <br />&lt;${akill['victim']['alliance_name']}&gt;
        % endif
      </span>
    </td>
    <!-- killer corp/ally icon -->
    <td class="zkb_table_${loop.odd}">
      <center>
      % if akill['final_blow_attacker']['alliance_id'] > 0:
      <a href="#" onclick="showAllianceInfo(${akill['final_blow_attacker']['alliance_id']}); return false;"
         title="Show info: ${akill['final_blow_attacker']['alliance_name']}">
      <img src="https://image.eveonline.com/Alliance/${akill['final_blow_attacker']['alliance_id']}_32.png" /></a>
      % else:
      <a href="#" onclick="showCorpInfo(${akill['final_blow_attacker']['corporation_name']}); return false;"
         title="Show info: ${akill['final_blow_attacker']['corporation_name']}">
      <img src="https://image.eveonline.com/Corporation/${akill['final_blow_attacker']['corporation_id']}_32.png" /></a>
      % endif
      </center>
    </td>
    <!-- killers names -->
    <td class="zkb_table_${loop.odd}">
      % for atk in akill['attackers']:
        % if atk['final_blow'] == 1:
      <a href="#" onclick="showTypeInfo(${atk['ship_type_id']}); return false;"
         onmouseover="Tip('${atk['ship_type_name']}');"
         onmouseout="UnTip();"
         title="Show info: ${atk['ship_type_name']}">
        <img src="https://imageserver.eveonline.com/Type/${atk['ship_type_id']}_32.png" />
      </a>
      &nbsp;

      ## check final blow by NPC
        % if (atk['character_name'] == '') and (atk['character_id'] == 0) and (atk['faction_id'] > 0):
        <!-- this is NPC -->
        <a href="#" onclick="showTypeInfo(${atk['ship_type_id']}); return false;"
           title="Show info: ${atk['ship_type_name']} (${atk['faction_name']})">${atk['ship_type_name']}</a>
        % else:
        <a href="#" onclick="showCharInfo(${atk['character_id']}); return false;"
           title="Show info: ${atk['character_name']}">${atk['character_name']}</a>
        % endif
        <span class="zkb_att_hl">
        % if atk['corporation_name'] != '':
          [${atk['corporation_name']}]
        % endif
        % if (atk['alliance_name'] != '') and (atk['alliance_id'] > 0):
           &lt;${atk['alliance_name']}&gt;
        % endif
        </span>
      % endif
      % endfor
      <br />
      <!-- other attackers -->
      % if len(akill['attackers']) > 1:
        <span class="zkb_att_hl">
        +${len(akill['attackers'])-1} ${tr.gettext('ppl')}:
        % for atk in akill['attackers']:

          ## check NPC
          % if (atk['character_name'] == '') and (atk['character_id'] == 0) and (atk['faction_id'] > 0):
            <!-- this is NPC -->
            <a href="#" onclick="showTypeInfo(${atk['ship_type_id']}); return false;"
               title="Show info: ${atk['ship_type_name']} (${atk['faction_name']})">${atk['ship_type_name']}</a>
            % if not loop.last:
              ,
            % endif
          % endif

          ## player character?
          % if (atk['character_name'] != '') and (atk['character_id'] != 0):
            <a href="#" onclick="showCharInfo(${atk['character_id']}); return false;"
              title="Show info: ${atk['character_name']}">
            % if atk['final_blow'] == 0:
              % if not loop.last:
                  ${atk['character_name']}</a>,
              % else:
                  ${atk['character_name']}</a>
              % endif
            % endif
          % endif

        % endfor
        </span>
      % endif
      <br />
      ##<hr />
      ##${akill['attackers']}
    </td>
  </tr>
% endfor
</table>


% if len(zkb_kills) == 0:
  <h1>${tr.gettext('ZKB API is broken (again)')}</h1>
  <blockquote>
    ${tr.gettext('ZKillboard.com has broken its API once more. Now it is not returning any kill data (no information about kill time, victim, attackers). Only kill_id is returned, so a large rework is needed.')}
  </blockquote>
% endif


## TODO: implement
##<h2>${tr.gettext('Approximate corporations activity chart in this system, based on kills')}:</h2>
##
##<table class="zkb_corpstats_table">
##    <tr>
##        <th>${tr.gettext('Corporation')}</th>
##        <th>${tr.gettext('Wins')}</th>
##        <th>${tr.gettext('Losses')}</th>
##        <th>${tr.gettext('Corp. killboard')}</th>
##    </tr>
##% for corp_idx in most_often_corps_sorted:
##    % if (most_often_corps[corp_idx]['kills'] > 0) or (most_often_corps[corp_idx]['losses'] > 0):
##    <tr>
##        <td>
##            ${most_often_corps[corp_idx]['name']}
##        </td>
##        <td class="zkb_corpstats_kills">
##            <center>${most_often_corps[corp_idx]['kills']}</center>
##        </td>
##        <td class="zkb_corpstats_losses">
##            <center>${most_often_corps[corp_idx]['losses']}</center>
##        </td>
##        <td>
##            <a href="https://zkillboard.com/corporation/${corp_idx}/" target="_blank">ZKB</a>
##        </td>
##    </tr>
##    % endif
##% endfor
##</table>
