## -*- coding: utf-8 -*-

<br />

% if zkb_block_title != '':
  <span class="infoblock_header_text">${zkb_block_title}</span><br />
% else:
  <span class="infoblock_header_text">${tr.gettext('PVP-activity for system from')}
    <a href="http://zkillboard.com/" target="_blank">zKillboard.com</a></span><br />
% endif

<table class="zkb_table">
  <tr>
    <td width="40">${tr.gettext('Link')}</td>
    <td width="90">${tr.gettext('System')}</td>
    <td>${tr.gettext('Time')}</td>
    <td width="40">&nbsp;</td> <!-- ship icon -->
    <td>${tr.gettext('Ship')}</td>
    <td width="32">&nbsp;</td> <!-- corp logo -->
    <td width="200">${tr.gettext('Victim')}</td>
    <td width="32">&nbsp;</td> <!-- corp logo -->
    <td>${tr.gettext('Attackers, final blow')}</td>
  </tr>
% for akill in zkb_kills:
  <tr>
    <!-- link -->
    <td class="zkb_table_${loop.odd}">
      % if sitecfg.ZKB_USE_EVEKILL:
      <a href="https://beta.eve-kill.net/kill/${akill['killID']}" target="_blank">EVEKILL</a><br />
      % endif
      <a href="https://zkillboard.com/kill/${akill['killID']}" target="_blank" title="Kill on ZKillboard">ZKB</a>
    </td>
    <!-- solarsystem -->
    <td class="zkb_table_${loop.odd}" width="60">
      <a href="/${akill['solarSystemName']}">${akill['solarSystemName']}</a><br />
      <span style="color: ${akill['solarSystemSecurityColor']}">${akill['solarSystemSecurity']}</span>
      <span class="zkb_ship">${akill['solarSystemWhClass']}</span>
    </td>
    <!-- time -->
    <td class="zkb_table_${loop.odd}" width="60">
      <span class="zkb_time">
        ${akill['kill_dt'].strftime('%Y-%m-%d')}<br />
        ${akill['kill_dt'].strftime('%H:%M')}
      </span>
      <br />
      % if akill['days_ago'] == 0:
      <span class="zkb_time_hl">${tr.gettext('Today')}</span>
      % elif akill['days_ago'] == 1:
      <span class="zkb_time_hl">${tr.gettext('Yesterday')}</span>
      % elif akill['days_ago'] <= 7:
      <span class="zkb_time_hl">${akill['days_ago']} ${tr.gettext('days ago')}</span>
      % endif
    </td>
    <!-- ship icon -->
    <td class="zkb_table_${loop.odd}">
      <center>
        <a href="#" onclick="showTypeInfo(${akill['victim']['shipTypeID']}); return false;"
                   onmouseover="Tip('${akill['victim']['shipTypeName']}');"
                   onmouseout="UnTip();"
                   title="Show info: ${akill['victim']['shipTypeName']}">
                    <!-- <img src="/img/Types/${akill['victim']['shipTypeID']}_32.png" /> -->
                    <img src="https://imageserver.eveonline.com/Type/${akill['victim']['shipTypeID']}_32.png" />
        </a>
        % if 'zkb' in akill:
        <span class="zkb_totalvalue">${akill['zkb']['totalValueM']} mil</span>
        % endif
      </center>
    </td>
    <!-- ship name -->
    <td class="zkb_table_${loop.odd}" width="100">
      <a href="#" onclick="showTypeInfo(${akill['victim']['shipTypeID']}); return false;"
         title="Show info: ${akill['victim']['shipTypeName']}">
        ${akill['victim']['shipTypeName']}
      </a><br />
      <span class="zkb_ship">${akill['victim']['shipGroupName']}</span>
    </td>
    <!-- victim corp/ally icon -->
    <td class="zkb_table_${loop.odd}">
      ##${akill['victim']['allianceID']}, ${akill['victim']['corporationID']}
      <center>
      % if akill['victim']['allianceID'] > 0:
      <a href="#" onclick="showAllianceInfo(${akill['victim']['allianceID']}); return false;"
        title="Show info: ${akill['victim']['allianceName']}">
      <img src="https://image.eveonline.com/Alliance/${akill['victim']['allianceID']}_32.png" /></a>
      % else:
      <a href="#" onclick="showCorpInfo(${akill['victim']['corporationID']}); return false;"
         title="Show info: ${akill['victim']['corporationName']}">
      <img src="https://image.eveonline.com/Corporation/${akill['victim']['corporationID']}_32.png" /></a>
      % endif
      </center>
    </td>
    <!-- victim name -->
    <td class="zkb_table_${loop.odd}" width="100">
      <a href="#" onclick="showCharInfo(${akill['victim']['characterID']}); return false;"
         title="Show info: ${akill['victim']['characterName']}">
        ${akill['victim']['characterName']}
      </a>
      <br />
      <span class="zkb_att_hl">
        [${akill['victim']['corporationName']}]
        % if akill['victim']['allianceID'] > 0:
        <br />&lt;${akill['victim']['allianceName']}&gt;
        % endif
      </span>
    </td>
    <!-- killer corp/ally icon -->
    <td class="zkb_table_${loop.odd}">
      ##${akill['finalBlowAttacker']}
      <center>
      % if akill['finalBlowAttacker']['allianceID'] > 0:
      <a href="#" onclick="showAllianceInfo(${akill['finalBlowAttacker']['allianceID']}); return false;"
         title="Show info: ${akill['finalBlowAttacker']['allianceName']}">
      <img src="https://image.eveonline.com/Alliance/${akill['finalBlowAttacker']['allianceID']}_32.png" /></a>
      % else:
      <a href="#" onclick="showCorpInfo(${akill['finalBlowAttacker']['corporationID']}); return false;"
         title="Show info: ${akill['finalBlowAttacker']['corporationName']}">
      <img src="https://image.eveonline.com/Corporation/${akill['finalBlowAttacker']['corporationID']}_32.png" /></a>
      % endif
      </center>
    </td>
    <!-- killers names -->
    <td class="zkb_table_${loop.odd}">
      ## <!-- {'finalBlow': '1', 'allianceName': 'La Division Bleue', 'corporationID': '98017240',
      ## 'shipTypeID': '12034', 'securityStatus': '4.93913507114479', 'allianceID': '99001258', 'factionID': '0',
      ## 'characterName': 'Pumma42', 'weaponTypeID': '27359', 'damageDone': '1195', 'characterID': '1456654176',
      ## 'factionName': '', 'corporationName': 'EyEs.FR'} -->
      % for atk in akill['attackers']:
        ##${atk}<br />
        % if atk['finalBlow'] == 1:
      <a href="#" onclick="showTypeInfo(${atk['shipTypeID']}); return false;"
         onmouseover="Tip('${atk['shipTypeName']}');"
         onmouseout="UnTip();"
         title="Show info: ${atk['shipTypeName']}">
        <img src="https://imageserver.eveonline.com/Type/${atk['shipTypeID']}_32.png" />
      </a>
      &nbsp;

      ## check final blow by NPC
        % if (atk['characterName'] == '') and (atk['characterID'] == 0) and (atk['factionID'] > 0):
        <!-- this is NPC -->
        <a href="#" onclick="showTypeInfo(${atk['shipTypeID']}); return false;"
           title="Show info: ${atk['shipTypeName']} (${atk['factionName']})">${atk['shipTypeName']}</a>
        % else:
        <a href="#" onclick="showCharInfo(${atk['characterID']}); return false;"
           title="Show info: ${atk['characterName']}">${atk['characterName']}</a>
        % endif
        <span class="zkb_att_hl">
        % if atk['corporationName'] != '':
          [${atk['corporationName']}]
        % endif
        % if (atk['allianceName'] != '') and (atk['allianceID'] > 0):
           &lt;${atk['allianceName']}&gt;
        % endif
        </span>
      % endif
      % endfor
      <br />
      <!-- other attackers -->
      % if len(akill['attackers']) > 1:
        <span class="zkb_att_hl">
        +${len(akill['attackers'])-1} ${tr.gettext('ppl')}:
        % for atk in akill['attackers']:

          ## check NPC
          % if (atk['characterName'] == '') and (atk['characterID'] == 0) and (atk['factionID'] > 0):
            <!-- this is NPC -->
            <a href="#" onclick="showTypeInfo(${atk['shipTypeID']}); return false;"
               title="Show info: ${atk['shipTypeName']} (${atk['factionName']})">${atk['shipTypeName']}</a>
            % if not loop.last:
              ,
            % endif
          % endif

          ## player character?
          % if (atk['characterName'] != '') and (atk['characterID'] != 0):
            <a href="#" onclick="showCharInfo(${atk['characterID']}); return false;"
              title="Show info: ${atk['characterName']}">
            % if atk['finalBlow'] == 0:
              % if not loop.last:
                  ${atk['characterName']}</a>,
              % else:
                  ${atk['characterName']}</a>
              % endif
            % endif
          % endif

        % endfor
        </span>
      % endif
      <br />
      ##<hr />
      ##${akill['attackers']}
    </td>
  </tr>
% endfor
</table>


## TODO: implement
##<h2>${tr.gettext('Approximate corporations activity chart in this system, based on kills')}:</h2>
##
##<table class="zkb_corpstats_table">
##    <tr>
##        <th>${tr.gettext('Corporation')}</th>
##        <th>${tr.gettext('Wins')}</th>
##        <th>${tr.gettext('Losses')}</th>
##        <th>${tr.gettext('Corp. killboard')}</th>
##    </tr>
##% for corp_idx in most_often_corps_sorted:
##    % if (most_often_corps[corp_idx]['kills'] > 0) or (most_often_corps[corp_idx]['losses'] > 0):
##    <tr>
##        <td>
##            ${most_often_corps[corp_idx]['name']}
##        </td>
##        <td class="zkb_corpstats_kills">
##            <center>${most_often_corps[corp_idx]['kills']}</center>
##        </td>
##        <td class="zkb_corpstats_losses">
##            <center>${most_often_corps[corp_idx]['losses']}</center>
##        </td>
##        <td>
##            <a href="https://zkillboard.com/corporation/${corp_idx}/" target="_blank">ZKB</a>
##        </td>
##    </tr>
##    % endif
##% endfor
##</table>